<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EProject.My.MySettings.EProjectConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\EProject.accdb"
            providerName="System.Data.OleDb" />
        <add name="EProject.My.MySettings.Database2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database2.mdb"
            providerName="System.Data.OleDb" />
        <add name="EProject.My.MySettings.EProject2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\EProject2.mdb"
            providerName="System.Data.OleDb" />
        <add name="EProject.My.MySettings.HMSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\HMS.mdb"
            providerName="System.Data.OleDb" />
        <add name="EProject.Properties.Settings.HMSConnectionString"
            connectionString="Data Source=LAPTOP-JUNAID;Initial Catalog=HMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
